<h1>Your Text Analysis</h1>

<h2>Number of Words: <%= @words_count %> </h2>

<h2>Vowels: <%= @vowels_count %> </h2>

<h2>Consonants: <%= @consonant_count %> </h2>

<h2>Most Common Letter: <%= @letter_key %>, used <%= @letter_value %> times</h2>
